__pycache__
node_modules

go.sum
go/pkg
go/bin/*
!/go/bin/.gitignore
.DS_Store

.vscode
!/.vscode/c_cpp_properties.json

g++/src/cli/*/build/*
!g++/src/cli/*/build/.gitignore
g++/src/cli/build/*
!g++/src/cli/build/.gitignore

go/src/cli/*/out/*
!go/src/cli/*/out/.gitignore
go/src/cli/out/*
!go/src/cli/out/.gitignore

# g++ core dumpfile. this file required for debugging.
core
